body {
	margin: 0px;
}
.head-container {
	width: 1280px;
	height: 78px;	
	display: flex;
	align-items: center;
}
.nav-menu {
	width: 620px;
	height: 27px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav a {
	height: 27px;
	display: flex;
	align-items: center;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	text-decoration: none;
	letter-spacing: 2.7px;
	text-transform: uppercase;
	color: #FF0000;	
}
.first-content {
	width: 1280px;
	height: 789px;		
}
.main-photo {
	width: 100%;
	height: 100%;
}

.text {
	width: 1280px;
	height: 650px;	
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	letter-spacing: 2.4px;
	color: #373737;
}
.title-text {
	width: 100%;
	margin: 0 auto;
	padding-top: 48px;
	padding-bottom: 38px;
	text-align: center;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 22px;
	line-height: 27px;	
	letter-spacing: 3.3px;
	text-transform: uppercase;
	color: #373737;
}

.first-text {
	width: 1145px;
	height: 132px;	
	margin: 0 auto;
	margin-bottom: 28px;
}
.second-text {	
	width: 1145px;
	height: 216px;
	margin: 0 auto;
	margin-bottom: 66px;
}
.started-btn {
	padding: 21px 40px;
	margin: 0 auto;	
	background: #FF0000;
	border: none;
	border-radius: 4px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 12px;	
	letter-spacing: 1.8px;
	text-transform: uppercase;
	color: #FFFFFF;
	cursor: pointer;
}
footer {
	width: 1280px;
}
.footer-info {
	margin-right: 105px;
	margin-block-start: 40px;
	margin-block-end: 29px;
	float: right;
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;	
	letter-spacing: 2.4px;
	color: #373737;
}